<h1>Your Hustle Dashboard</h1>


<div>                                         stream.io
  Activity streaming from contacts
</div>

<div>
  Activity Stream from friends
</div>

<div>
  Contact suggestions                        internal analytics
</div>

<div>
 sorted rolodex
</div>

<div>
  link to interactions analytics
</div>

<div>
Your "Network's Health"
</div>

<div>                                       google cal
  google cal integration, with reminders
</div>

<div>
  Other stuff?
</div>

<p>
<h2>Expand your network by integrating your hustle network with friends></h2>
  <div>
    People you may know:
    <% @other_users.each do |user| %>
    <p><%= user.username %>
      <%= link_to "Request Hustler Synergy", "/" %>
    </p>
     <%#picture%>
  <% end %>
  </div>
</p>
