<br></br>

<header>
<h1>Hustle Dashboard</h1>
</header>

<div>
  <h3>Do you know any of the people? Add them to your network!</h3>
  <% @profiles.each do |profile| %>
    <p>  <%= link_to profile.name,  profile.link %> </p>
  <% end %>
</div>

<div>
  <%= link_to "Upcoming Events", events_path %>
</div>
<div>
  <%= link_to "Connections", connections_path %>
</div>


<div>
  <%= link_to "Hustle Analysis", dashboard_analytics_path %>
</div>
