<br></br>

<header>
<h1>Hustle Dashboard</h1>
</header>

<div>
  <%= @profiles %>
</div>

<div>
  <%= link_to "Upcoming Events", events_path %>
</div>
<div>
  <%= link_to "Connections", connections_path %>
</div>


<div>
  <%= link_to "Hustle Analysis", dashboard_analytics_path %>
</div>
