<div>
  Activity streaming from contacts
</div>

<div>
  Activity Stream from friends
</div>

<div>
  Contact suggestions
</div>

<div>
 sorted rolodex
</div>

<div>
  google cal integration, with reminders
</div>

<div>
 hustler friend suggestions
</div>

<div>
  link to interactions analytics
</div>

<div>
Your "Network's Health"
</div>

<div>
  Other stuff?
</div>
