<div>
  predictive analytics
</div>

<div>
  resp success rate
</div>

<div>
  timelines of interactions
</div>

<div>
  graphs for comparisons
</div>

<div>
  links to ind contact show page
</div>

<div>
  Other stuff?
</div>
