<h1>Your Hustle Dashboard</h1>


<div>
  predictive analytics
</div>

<div>
  resp success rate
</div>

<div>
  timelines of interactions
</div>

<div>
  graphs for comparisons
</div>

<div>
  links to ind contact show page
</div>

<div>
  Other stuff?
</div>


<p>
<h2>Expand your network by sharing your hustle network with friends></h2>
  <div>
    People you may know:
    <% @other_users.each do |user| %>
    <%= user.name %>
  <% end %>
  </div>
</p>
