
<header>
<h1>Hey, <%= current_user.username %>, here's where you can edit your info </h1>
    </header>

    <h2>User Info</h2>
    <div>
       This is some placeholder text for a users info so they can edit it.
    </div>
    <div>
       Change whether people can see you (toggle)
    </div>
      <div>
       Toggle emails notifs
      </div>
    <div>
       Toggle text notifs
    </div>
