
<header>
<h1>Hey, <%= current_user.username %>, let's grow your network, eh? </h1>
      <a class="button contact" href="mailto:example.com">Contact</a>
    </header>

    <main>
      <section class="connections">
        <h2>Your Connections</h2>
        <a href="/connections" class="button link-to">connections</a>
        <p>Review your most recent contacts; Figure out who to talk to next; Grow your Rolodex</p>
      </section>
    </main>

    <footer>
      <a class="button contact" href="https://twitter.com/d_philla">Follow us on Twitter</a>
    </footer>
