
<header>
<h1>Hey, <%= current_user.username %>, let's grow your network, eh? </h1>
      <a class="button contact" href="mailto:example.com">Contact</a>
    </header>

    <main>
      <section class="connections">
        <h2>Your Connections</h2>
        <a href="#" class="button link-to">connections</a>
        <p>Review your most recent contacts; Figure out who to talk to next; Grow your Rolodex</p>
      </section>

      <section class="interaction">
        <h2>Your Interactions</h2>
        <p>Refresh yourself on your most recent Interactions; What's your next move?</p>
        <a href="#" class="button link-to">Interactions</a>
      </section>

      <section class="relationsips">
        <h2>Your Professional Relationships</h2>
        <ul>
          <li>
            Action Notice 1
            <a href="#" class="button favorite">Review Connection</a>
          </li>
          <li>
            Action Notice 2
            <a href="#" class="button favorite">Review Connection</a>
          </li>
        </ul>
      </section>

      <section class="trend">
        <h2>Your analysis of recent activity</h2>
        <ul>
          <li>Data Point 1</li>
          <li>Data Point 2</li>
        </ul>
      </section>
    </main>

    <footer>
      <a class="button contact" href="https://twitter.com/d_philla">Follow us on Twitter</a>
    </footer>

