<h1>Welcome to TechHustle.io</h1>
<%= flash[:notice] %>
<section id="header" class="header">
  <h1 id="heading">Tech Hustle.io</h1>
</section>

<section class="content">
  <p> This is ipsum dog up ya chokkie how as cunning as a garbo. Lets get some show pony flamin lets throw a roadie. Come a sheila to come a cab sav.</p>

  <p> a dunny piece of piss lets throw a esky. She'll be right struth my built like a tucker. rage on bloody built like a garbo.</p>

  <p>ottie. As busy as a mate's rate mate stands out like a trackie dacks. As busy as a bathers also grab us a dipstick.</p>

</section>

