<h1> Your Upcoming Events </h1>


<%= month_calendar events: @events do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.title, event_path(meeting)  %>
    </div>
  <% end %>
<% end %>

<p><%= link_to "Add a New Event", new_event_path %></p>
